header img {
  width: 500px;
  height: 500px;
  display: block; 
  margin: 0 auto; 
}

h1 {
  text-shadow: 3px 3px 5px hsl(0, 100%, 61%), -3px -3px 5px hsl(197, 100%, 61%);
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  color: white;
  padding: 10px;
}

section {
  margin: 20px 0;
}

.product {
  left: -100px;
  top: -100px;
  width: 1920px;
  height: 1080px;
  border: 1px solid hsl(0, 0%, 60%);
  margin: 5px;
  text-align: center;
  overflow: hidden;
}

.product .description {
  padding: 10px;
  text-align: center;
}

.product:hover {
  border: 10px solid hsl(0, 0%, 20%);
}

.bilder {
  right: -4700px;
  top: -3000px;
  width: 1920px;
  height: 1080px;
  position: relative;
}
